<h1>_twitter.html.erb</h1>

<div>
    <a href="https://twitter.com/intent/tweet?button_hashtag=NOBROCKTV&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-dnt="true" data-show-count="false">Tweet #NOBROCKTV</a>
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23NOBROCKTV">#NOBROCKTV</a> 
</div>
<div>
    <a href="https://twitter.com/intent/tweet?screen_name=WhatMakesTheSky&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-text="お前の母ちゃん何人だ #学校へ行こう" data-related="WhatMakesTheSky" data-show-count="false">Tweet to @WhatMakesTheSky</a>
    <a class="twitter-timeline" href="https://twitter.com/WhatMakesTheSky?ref_src=twsrc%5Etfw">Tweets by WhatMakesTheSky</a> 
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
