<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid ps-5 pe-5">
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <% if logged_in? %>
          <ul class="navbar-nav">
            <a class="navbar-brand" href="/">ホーム</a>
            <a class="navbar-brand" href="/">コミュニティ</a>
            <a class="navbar-brand" href="/">ユーザー</a>
          </ul>
        <% else %>
          <ul class="navbar-nav">
            <a class="navbar-brand" href="/">ホーム</a>
            <a class="navbar-brand" href="/">コミュニティ</a>
            <a class="navbar-brand" href="/">ユーザー</a>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>